<!-- Article meta -->
<div class="md:flex md:items-center md:justify-between mt-3">
    <!-- Author meta -->
    <div class="flex items-center justify-center" data-aos="fade-up" data-aos-delay="400">
        <a href="#0">
            {{ $avatar := resources.Get "images/news-author-harm.jpg" }}
            <img class="rounded-full flex-shrink-0 mr-4" src="{{ $avatar.RelPermalink }}" width="40" height="40" alt="Harm Aarts" />
        </a>
        <div>
            <a class="font-medium text-gray-200 hover:text-gray-100 transition duration-150 ease-in-out" href="#0">Harm Aarts</a>
            <span class="text-gray-700"> - </span>
            <span class="text-gray-500">{{ .Page.Date | time.Format ":date_medium" }}</span>
        </div>
    </div>
    <!-- Article tags -->
    <div class="flex justify-center mt-4 md:mt-0" data-aos="fade-up" data-aos-delay="600">
        <ul class="flex flex-wrap text-xs font-medium -m-1">
            <li class="m-1">
                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="#0">Insight</a>
            </li>
            <li class="m-1">
                <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-blue-500 hover:bg-blue-600 transition duration-150 ease-in-out" href="#0">SSH</a>
            </li>
        </ul>
    </div>
</div>

