<section class="relative">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-32 pb-12 md:pt-40 md:pb-20">

            <!-- Page header -->
            <div class="max-w-3xl pb-12 md:pb-20 text-center md:text-left">
                <h1 class="h1" data-aos="fade-up">Quick insights for developers who have better things to do</h1>
            </div>

            <!-- Featured article -->
            {{ with .Params.featured }}
            <div class="pb-12 md:pb-20">
                <article class="max-w-sm mx-auto md:max-w-none grid md:grid-cols-2 gap-6 md:gap-8 lg:gap-12 xl:gap-16 items-center">
                    {{ $page := $.GetPage $.Params.featured }}
                    <a class="relative block group" href="{{ $page.RelPermalink }}" data-aos="fade-right" data-aos-delay="200">
                        <div class="absolute inset-0 bg-gray-800 hidden md:block transform md:translate-y-2 md:translate-x-4 xl:translate-y-4 xl:translate-x-8 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out pointer-events-none" aria-hidden="true"></div>
                        <figure class="relative h-0 pb-9/16 md:pb-3/4 lg:pb-9/16 overflow-hidden transform md:-translate-y-2 xl:-translate-y-4 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-700 ease-out">
                            {{ $image := $page.Resources.GetMatch $page.Params.image_leader.src }}
                            <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src="{{ ($image.Resize "540x303").RelPermalink}}" width="540" height="303" alt="{{ $page.Params.image_leader.alt }}">
                        </figure>
                    </a>
                    <div data-aos="fade-left" data-aos-delay="200">
                        <header>
                            <div class="mb-3">
                                <ul class="flex flex-wrap text-xs font-medium -m-1">
                                    {{ range $page.Params.tags }}
                                    <li class="m-1">
                                        <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="/tags/{{ . | urlize }}">{{ . }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                            <h3 class="h3 text-2xl lg:text-3xl mb-2">
                                <a class="hover:text-gray-100 transition duration-150 ease-in-out" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
                            </h3>
                        </header>
                        <p class="text-lg text-gray-400 flex-grow">{{ $page.Params.excerpt }}</p>
                        <footer class="flex items-center mt-4">
                            <a href="#0">
                                <img class="rounded-full flex-shrink-0 mr-4" src="../images/news-author-harm.jpg" width="40" height="40" alt="Harm Aarts">
                            </a>
                            <div>
                                <a class="font-medium text-gray-200 hover:text-gray-100 transition duration-150 ease-in-out" href="#0">Harm Aarts</a>
                                <span class="text-gray-700"> - </span>
                                <span class="text-gray-500">{{ $page.Date | time.Format ":date_medium" }}</span>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>
            {{ end }}

            <!-- Articles list -->
            <div class="max-w-sm mx-auto md:max-w-none">

                <!-- Section title -->
                <h4 class="h4 pb-6 mb-10 border-b border-gray-700" data-aos="fade-up">Latest articles</h4>

                <!-- Articles container -->
                <div class="grid gap-12 md:grid-cols-3 md:gap-x-6 md:gap-y-8 items-start">

                    {{ $pages := where .Pages "Section" "blog" }}
                    {{ if eq .Kind "term" }}
                    {{ $pages = .Data.Pages }}
                    {{ end }}
                    {{ range $pages }}
                    <!-- 1st article -->
                    <article class="flex flex-col h-full" data-aos="fade-up">
                        <header>
                            <a class="block mb-6" href="{{ .RelPermalink }}">
                                <figure class="relative h-0 pb-9/16 overflow-hidden rounded-sm">
                                    {{ $image := .Resources.GetMatch .Params.image_leader.src }}
                                    <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src="{{ ($image.Resize "352x198").RelPermalink}}" alt="{{ .Params.image_leader.alt }}" width="352" height="198">
                                </figure>
                            </a>
                            <div class="mb-3">
                                <ul class="flex flex-wrap text-xs font-medium -m-1">
                                    {{ range .Params.tags }}
                                    <li class="m-1">
                                        <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="/tags/{{ . | urlize }}">{{ . }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                            <h3 class="h4 mb-2">
                                <a class="hover:text-gray-100 transition duration-150 ease-in-out" href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h3>
                        </header>
                        <p class="text-lg text-gray-400 flex-grow">{{ .Params.excerpt }}</p>
                        <footer class="flex items-center mt-4">
                            <a href="#0">
                                <img class="rounded-full flex-shrink-0 mr-4" src="../images/news-author-harm.jpg" width="40" height="40" alt="Harm Aarts">
                            </a>
                            <div class="font-medium">
                                <a class="text-gray-200 hover:text-gray-100 transition duration-150 ease-in-out" href="#0">Harm Aarts</a>
                                <span class="text-gray-700"> - </span>
                                <span class="text-gray-500">{{ .Date | time.Format ":date_medium" }}</span>
                            </div>
                        </footer>
                    </article>
                    {{ end }}
                </div>

            </div>

        </div>
    </div>
</section>
