<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    {{ $css := resources.Get "css/style.css" }}
    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    {{ else }}
    {{ $css = $css | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
    {{ end }}
    {{ $aos := resources.Get "css/vendors/aos.css" }}
    <link rel="stylesheet" href="{{ $aos.RelPermalink }}" rel="stylesheet">

    <meta name="description" content="{{ with .Description}}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
    <link rel="canonical" href="{{ .Permalink }}" />
</head>
