<!-- Payments FAQ’s -->
<div x-show="page === '5'">
    <div class="mb-8">
        <h2 class="h2 mb-4">Payments FAQ’s</h2>
        <p class="text-gray-400">Last updated - <span class="text-purple-600">June 30, 2020</span></p>
    </div>
    <ul class="-my-4">
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">How much does Disk Notifier cost?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">Can I get a discount?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What are the differnces between the Noodle Shop and Mega Corp plans?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">Can I cancel my subscription at any time?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">Is there an additional discount when paid annually?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What happens if I don’t renew my license after one year?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What kind of payment methods do you provide?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
    </ul>
</div>

