<!-- Payments FAQ’s -->
<div x-show="page === '5'">
    <div class="mb-8">
        <h2 class="h2 mb-4">Payments FAQ’s</h2>
        <p class="text-gray-400">Last updated - <span class="text-purple-600">June 30, 2020</span></p>
    </div>
    <ul class="-my-4">
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">How much does Disk Notifier cost?</h4>
            <p class="text-lg text-gray-400">Check out the pricing page.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">Can I get a discount?</h4>
            <p class="text-lg text-gray-400">Yes, if you pay yearly.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What are the differnces between the Noodle Shop and Mega Corp plans?</h4>
            <p class="text-lg text-gray-400">The only difference is the number of servers we monitor for you. And I'm more inclined to respond to email from paying customers.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">Can I cancel my subscription at any time?</h4>
            <p class="text-lg text-gray-400">Yes.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What happens if I don’t renew my subscription?</h4>
            <p class="text-lg text-gray-400">We suspend monitoring of all but one of your servers.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What kind of payment methods do you provide?</h4>
            <p class="text-lg text-gray-400">Everything Stripe support and Bitcoin. Please email me if you want to pay with the latter.</p>
        </li>
    </ul>
</div>

