<!-- What is Open PRO -->
<div x-show="page === '2'">
    <div class="mb-8">
        <h2 class="h2 mb-4">What is Disk Notifier</h2>
        <p class="text-gray-400">Last updated - <span class="text-purple-600">{{ .Lastmod }}</span></p>
    </div>
    <ul class="-my-4">
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What is Disk Notifier?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What isn't Disk Notifier?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">Why did you start Disk Notifier?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What technology is Disk Notifier using?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">What architecture is Disk Notifier using?</h4>
            <p class="text-lg text-gray-400">How is this even relevant? </p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">Who's behind Disk Notifier?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
        <li class="py-4">
            <h4 class="text-xl font-medium mb-2">How long do you plan do be running Disk Notifier?</h4>
            <p class="text-lg text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.</p>
        </li>
    </ul>
</div>
